<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>416729918923-qghrcnj8r1ca7fltsue2huhifkugcrm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.416729918923-qghrcnj8r1ca7fltsue2huhifkugcrm0</string>
	<key>API_KEY</key>
	<string>AIzaSyCGXRlS8fWS48IFkFh6kySsqAV8LAE4Lmo</string>
	<key>GCM_SENDER_ID</key>
	<string>416729918923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Futucke.BluePrint01</string>
	<key>PROJECT_ID</key>
	<string>blueprint-68618</string>
	<key>STORAGE_BUCKET</key>
	<string>blueprint-68618.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:416729918923:ios:199e6a1c6e231cb3</string>
	<key>DATABASE_URL</key>
	<string>https://blueprint-68618.firebaseio.com</string>
</dict>
</plist>